<html id="app">
    <head>
        <title>Crossword Trainer</title>
        <meta charset="UTF-8">
        <script src='public/build.js'></script>
        <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,600' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='public/foundation.min.css' />
        <link rel='stylesheet' href='public/index.css' />
        <meta charset="utf-8"/>
    </head>
    <body ng-controller="CrosswordCtrl as state">
        <div class="rainbow"></div>
        <div id="leftcolumn">
          <h2>Practice the colors…</h2>
          <div id="clues">
              <div class="clue-set">
                  <h3>Across</h3>
                  <div class="clue-set-item" ng-repeat="word in state.words.horizontal">
                      <div
                          ng-class="[
                              'clue', {
                                  selected: state.ui.currentWord.id === word.id
                              }
                          ]"
                          ng-click="state.ui.handleClueClick.action(word.id)"
                      ><span class="clue-number">{{word.id}}.&nbsp;</span> {{word.clue}}</div>
                  </div>
              </div>

              <div class="clue-set">
                  <h3>Down</h3>
                  <div class="clue-set-item" ng-repeat="word in state.words.vertical">
                      <div
                          ng-class="[
                              'clue', {
                                  selected: state.ui.currentWord.id === word.id
                              }
                          ]"
                          ng-click="state.ui.handleClueClick.action(word.id)"
                      ><span class="clue-number">{{word.id}}.&nbsp;</span> {{word.clue}}</div>
                  </div>
              </div>
          </div>
        </div>

        <div id="rightcolumn">
          <div
            id="board"
            ng-class="{'edit-mode': state.ui.submitGame.hasOccurred }"
          >
              <div
                class="edit-cover"
                ng-class="{ 'show' : state.ui.submitGame.hasOccurred && !state.ui.submitGame.isEditing }"

              ></div>

              <div
                  ng-repeat="tile in state.crossword.collection"
                  class="tile"
                  ng-click="state.ui.tile.onClick(tile)"
                  ng-class="{
                      nth: tile.x % state.crossword.width === 0,
                      'is-in-use': tile.isInUse,
                      'isCurrent': tile.isCurrent,
                      'is-correct': tile.isFulfilled() && state.ui.submitGame.hasOccurred,
                      'is-incorrect': !tile.isFulfilled() && state.ui.submitGame.hasOccurred,
                      'belongs-to-current-word': tile.belongsToCurrentWord,
                  }"
              >
                  <div ng-if="tile.isInUse">
                      <input
                          type="text"
                          ng-model="tile.input"
                          ng-focus="state.ui.tile.onFocus(tile.words)"
                          focus-on="{{'tile-' + tile.x + tile.y}}"
                          ng-keydown="state.ui.tile.onKeypress($event, tile)"
                          placeholder="{{tile.placeholder}}"
                      />
                  </div>
                  <div
                      class="word-number"
                      ng-if="tile.isFirstInWord.length"
                  >{{ tile.isFirstInWord.join(',') }}</div>
              </div>
              <h1 ng-if="state.crossword.words.isFulfilled()">Complete!</h1>
          </div>
          <br/><br/><br/>
          <div id="actions">

              <div
                  class="button button-solve"
                  ng-click="state.ui.showAllTiles.action()"
              >{{ state.ui.showAllTiles.text }}</div>

              <div
                  class="button button-submit"
                  ng-click="state.ui.submitGame.action()"
              >{{ state.ui.submitGame.text }}</div>

              <div
                  class="button button-next-activity"
                  ng-class="{ 'disabled': state.ui.submitGame.isEditing }"
                  ng-click="state.ui.nextActivity.action()"
              >Next Activity</div>
          </div>
          <br/><br/><br/>
          <div>You may navigate with arrow keys.</div>

        </div>

        <br/>
        <br/>
    </body>
</html>
