<html>
    <head>
        <title>Crossword Trainer</title>
        <script src='public/build.js'></script>
    </head>
    <body ng-controller="CrosswordCtrl as state">
        <div>
            <div
                class="button"
                ng-click="state.ui.showAllTiles.action()"
            >Solve the Board</div>
        </div>
        <br/>
        <br/>
        <div id="board">
            <div
                ng-repeat="tile in state.crossword.collection"
                class="tile"
                ng-class="{
                    nth: tile.x % state.crossword.width === 0,
                    'is-in-use': tile.isInUse,
                    'is-correct': tile.isFulfilled(),
                    'is-incorrect': !tile.isFulfilled(),
                }"
            >
                <div ng-if="tile.isInUse">
                    <input
                        type="text"
                        ng-model="tile.input"
                        focus-on="{{'tile-' + tile.x + tile.y}}"
                        ng-keyup="state.onKeypress($event, tile)"
                        placeholder="{{tile.placeholder}}"
                    />
                </div>
            </div>
            <h1 ng-if="state.crossword.words.isFulfilled()">Complete!</h1>
        </div>
    </body>
</html>