body {
    text-align: center;
}

#clues {
    float: left;
    text-align: left;
    width: 40%;
}

.clue {
    cursor: pointer;
    float: left;
    clear: left;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 1em 0 0.5em;
}

.clue-set {
    float: left;
    width: 100%;
}

.clue:hover {
    background-color: #ccc;
}

.clue.selected {
    background-color: #dbd;
}

#board {
    float: left;
    width: 60%;
    font-family: monospace;
    font-size: 18px;
    display: inline-block
}

.tile {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin: 0 -1px -1px 0;
    line-height: 48px;
    text-align: center;
    /*border: 1px solid #eee;*/
    float: left;
    position: relative;
    z-index: 0;
    text-transform: uppercase;
}

.word-number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    font-size: 9px;
    line-height: 9px;
}

.tile.nth {
    clear: both;
}

.tile.is-in-use {
    background-color: #ffffff;
    border: solid 1px #eaeced;
    z-index: 1;
}

.tile.is-in-use input {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
<<<<<<< HEAD
    text-transform: uppercase;
=======
    border: none;
    box-shadow: none;
>>>>>>> gh-pages
}

.tile.is-in-use.is-correct input {
    background-color: #8c8;
}

.tile.is-in-use.is-incorrect input.ng-dirty {
    background-color: #e88;
}

.tile.belongs-to-current-word {
    background-color: #dbd;
}
