body {
    text-align: center;
    background-color: #f1f0f0;
    /*background-color: #444;*/
    background-image: url("img/bg-pattern.png");
    background-repeat:repeat;
    min-width: 1200px;
}

h2 {
    font-family: SourceSansPro-Semibold;
  	font-size: 32px;
  	line-height: 1.5;
  	color: #2d414c;
}

.rainbow {
  background-image: url("img/rainbow.png");
  background-repeat:no-repeat;
  background-position: 50%;
  text-align: center;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 140px;
  padding: 0;
  margin: 0;
  background-size: cover;
  z-index: -10000;
  overflow-x: hidden;
}

.button {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 12px 34px;
  border-radius: 22px;
  transition: 300ms ease-out;
  text-align: center;
  width: 200px;
  border: 2px solid transparent;
  background-color: transparent;
  letter-spacing: 1.1;
  font-weight: 200;
  color: #111;
}

.button:hover {
  color: #fff;
}

.button-solve {
  border-color: #2199e8;
}

.button-solve:hover {
  background-color: #2199e8;
}

.button-next-activity {
  border-color: #22bb4b;
}

.button-next-activity:hover {
  background-color: #22bb4b;
}

.button-submit {
  border-color: #F67716;
}

.button-submit:hover {
  background-color: #FF790F;
}

.button-submit:active {
  background: #F67716;
}

#leftcolumn {
    float: left;
    text-align: left;
    width: 400px;
    padding: 20px 0 0 0;
    margin: 40px 60px 0 65px;
}

#clues {
    float: left;
    text-align: left;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dadcdd;
    margin-top: 10px;
    margin-bottom: 30px;
}

.clue-set {
    float: left;
    width: 100%;
}

.clue, .clue-set h3 {
    padding-left: 48px;
    padding-right: 48px;
}

.clue-set h3 {
  font-family: SourceSansPro-Semibold;
	font-size: 24px;
	line-height: 1.3;
	color: #2c3a41;
  padding-top: 16px;
  padding-bottom: 10px;
  margin: 0;
}

.clue {
    cursor: pointer;
    float: left;
    clear: left;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    font-family: SourceSansPro-Regular;
  	font-size: 15px;
  	line-height: 1.6;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eaeced;
}

.clue-set-item:first-of-type .clue {
  border-top-width: 1px;
}

.clue:hover, .clue.selected {
    background-color: rgba(243,248,254, 1);
}

.clue-number {
    font-weight: 600;
}

.clue-set-item {
  float: left;
  width: 100%;
}

#rightcolumn {
    float: left;
    min-width: 600px;
    margin-top: 127px;
}

#board {
    font-family: monospace;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.word-number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    font-size: 11px;
    font-weight:bolder;
    color: #6C7A81;
    line-height: 10px;
}

.tile {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin: 0 -1px -1px 0;
    line-height: 48px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 0;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out border;
    font-size: 20px;
}

.tile.nth {
    clear: both;
}

.tile.is-in-use {
    background-color: #ffffff;
    z-index: 1;
}

#board .tile.is-in-use:not(.isCurrent) {
    border-color: #dadcdd;
}

.tile.is-in-use.isCurrent,
.tile.is-in-use.isCurrent:hover,
#board .tile.is-in-use:not(.isCurrent):hover {
    border-color: #4e90f2;
    z-index: 2;
    box-shadow: inset 0 0 2px #4e90f2;
}

.tile.is-in-use.isCurrent {
}

.tile.is-in-use input {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    box-shadow: none;
    cursor: pointer;
    border: none;
}

.tile.is-in-use.is-correct input {
  background-color: #44E99A;
  color: white;
  font-weight: bolder;
}

#board.edit-mode .word-number {
  color: white;
}

.tile.is-in-use.is-incorrect input {
  background-color: #FF7573;
  color: white;
  font-weight: bolder;
}

.tile.belongs-to-current-word {
    background-color: #F3F8FE;
}

#actions {
    float: left;
    margin-top: 60px;
    width: 480px;
}

.edit-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.3s ease-in;
  border: 1px solid transparent;
}

.edit-cover.show {
  z-index: 100;
  border-color: #999;
  background-color: rgba(0,0,0,0.3);
}
